.App {
  text-align: center;
}

.App-logo {
  height: 5vh; 
  width: 5vw; 
}
.App-header, .App-footer {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #61dbfb;
}

.App-title {
  font-weight: 400; 
}
